<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Di_25</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Di_25.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="head">
            <img src="/img/image.psd.png" alt="Картика" />
            <h3>Магазин</h3>
            <div class="buttons">
                <div>
                    <a class="button" onclick="location.href='@Url.Action("Cart","Home")'"> Корзина</a>
                </div>
                <div>Войти</div>
            </div>
        </div>
    </header>
    <div class="head2">
        <div>
            <div><a class="button" onclick="location.href='@Url.Action("Index","Home")'">Каталог</a></div>
            <div>Скидки</div>
            <div>Новое</div>
        </div>
    </div>
        <main>
            @RenderBody()
        </main>
    <footer>
        Футер
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
