<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Di_25</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Di_25.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>
    <header class="header">
        <div class="header_content container">
            <ul>
                <li class="header_li"><a href="">SEARCH</a></li>
                <li class="header_li"><a href="account.html">ACCOUNT</a></li>
                <li class="header_li"><a href="">FAQS</a></li>
                <li class="header_li"><a href="">ABOUT</a></li>
                <li class="header_li"><a href="index.html">gilly</a></li>
                <div><a class="header_li" onclick="location.href='@Url.Action("Index","Home")'">CATALOG</a></div>
                <li class="header_li"><a href="">SERVICES</a></li>
                <li class="header_li"><a href="">VISIT</a></li>
                <div>
                    <a class="header_li" onclick="location.href='@Url.Action("Cart","Home")'"> MY BASCKET</a>
                </div>
            </ul>
        </div>
    </header>
    <div class="container">
        <main>
            @RenderBody()
        </main>
    </div>

    <footer class="footer container">
        <div class="menu-footer">
            <ul class="list-column-3">
                <li>SEARCH</li>
                <li>ACCOUNT</li>
                <li>FAQS</li>
                <li>ABOUT</li>
                <li>SHOP</li>
                <li>SERVICES</li>
            </ul>
            <ul class="list-column-3">
                <li id="li_text">VISIT</li>
                <li>3936 Sunset</li>
                <li>Los Angeles, CA 90029</li>
                <li>323.953.2910</li>
                <li id="li2">M-Th: 10AM - 5PM</li>
                <li>F-Sa: 10AM - 6PM</li>
                <li>Sun: 10AM - 4PM</li>
            </ul>
            <ul class="list-column-4">
                <li id="li_text">FOLOOW</li>
                <li>Instagram</li>
                <li>Facebook</li>
            </ul>
        </div>
    </footer>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
