@{
	ViewData["Title"] = "Home Page";
}

@using Di_25.Controllers
@model List<Product>

<div class="nav">
	@foreach (var product in Model)
	{

			<ul>
				<li><img src="/img/flower.jpg" alt=""></li>
			</ul>
		<div class="catalog">
				<h3>@product.Name</h3>
				<h5>@product.Price</h5>
				<p>@product.Description</p>
				
				<li>
					<a class="button" onclick="location.href='@Url.Action("Cart","Home")'">Добавить в корзину</a>
				</li>
		</div>

	}
</div>