<div class="product-details">
    <img src="~/images/4454ecbe-274b-4f77-9595-51db0a48facd.jpg" alt="@Model.Name" />
    <p>@Model.Descryption</p>
    <p>Цена: @Model.Cost.ToString()</p>
    <a onclick="location.href='@Url.Action("Index","Home")'">Продолжить покупки</a>
    <a href="#" class="btn">Добавить в корзину</a>
</div>